prefix=/home/korzonkie/.npm
@leancode:registry=https://www.myget.org/F/leancode/auth/5bad1b22-acb2-4f95-b129-227967d1d6b9/npm/
registry=https://registry.npmjs.org/
//www.myget.org/F/leancode/npm/:_authToken=976d4e9e-103c-495d-9741-c20c438cb96a
always-auth=true
